<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Locadora</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Locadora</display-name>
    <servlet-name>Locadora</servlet-name>
    <servlet-class>controller.Locadora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Locadora</servlet-name>
    <url-pattern>/Locadora</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>controller.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroCliente</display-name>
    <servlet-name>CadastroCliente</servlet-name>
    <servlet-class>controller.CadastroCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCliente</servlet-name>
    <url-pattern>/CadastroCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroCategoria</display-name>
    <servlet-name>CadastroCategoria</servlet-name>
    <servlet-class>controller.CadastroCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCategoria</servlet-name>
    <url-pattern>/CadastroCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraGenero</display-name>
    <servlet-name>CadastraGenero</servlet-name>
    <servlet-class>controller.CadastraGenero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraGenero</servlet-name>
    <url-pattern>/CadastraGenero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraFilme</display-name>
    <servlet-name>CadastraFilme</servlet-name>
    <servlet-class>controller.CadastraFilme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraFilme</servlet-name>
    <url-pattern>/CadastraFilme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controle</display-name>
    <servlet-name>Controle</servlet-name>
    <servlet-class>controller.Controle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controle</servlet-name>
    <url-pattern>/Controle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisaFilme</display-name>
    <servlet-name>PesquisaFilme</servlet-name>
    <servlet-class>model.PesquisaFilme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisaFilme</servlet-name>
    <url-pattern>/PesquisaFilme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PequisaFiltroController</display-name>
    <servlet-name>PequisaFiltroController</servlet-name>
    <servlet-class>controller.PequisaFiltroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PequisaFiltroController</servlet-name>
    <url-pattern>/PequisaFiltroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaFilme</display-name>
    <servlet-name>EditaFilme</servlet-name>
    <servlet-class>model.EditaFilme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaFilme</servlet-name>
    <url-pattern>/EditaFilme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisaEditaController</display-name>
    <servlet-name>PesquisaEditaController</servlet-name>
    <servlet-class>controller.PesquisaEditaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisaEditaController</servlet-name>
    <url-pattern>/PesquisaEditaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraFilmeController</display-name>
    <servlet-name>CadastraFilmeController</servlet-name>
    <servlet-class>controller.CadastraFilmeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraFilmeController</servlet-name>
    <url-pattern>/CadastraFilmeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroGeneroController</display-name>
    <servlet-name>CadastroGeneroController</servlet-name>
    <servlet-class>controller.CadastroGeneroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroGeneroController</servlet-name>
    <url-pattern>/CadastroGeneroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroCategoriaControler</display-name>
    <servlet-name>CadastroCategoriaControler</servlet-name>
    <servlet-class>controller.CadastroCategoriaControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCategoriaControler</servlet-name>
    <url-pattern>/CadastroCategoriaControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroClienteController</display-name>
    <servlet-name>CadastroClienteController</servlet-name>
    <servlet-class>controller.CadastroClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroClienteController</servlet-name>
    <url-pattern>/CadastroClienteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizaFilmeController</display-name>
    <servlet-name>AtualizaFilmeController</servlet-name>
    <servlet-class>controller.AtualizaFilmeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizaFilmeController</servlet-name>
    <url-pattern>/AtualizaFilmeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MudaStatusController</display-name>
    <servlet-name>MudaStatusController</servlet-name>
    <servlet-class>controller.MudaStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MudaStatusController</servlet-name>
    <url-pattern>/MudaStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutenticacaoController</display-name>
    <servlet-name>AutenticacaoController</servlet-name>
    <servlet-class>controller.AutenticacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticacaoController</servlet-name>
    <url-pattern>/AutenticacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisaFilmeController</display-name>
    <servlet-name>PesquisaFilmeController</servlet-name>
    <servlet-class>controller.PesquisaFilmeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisaFilmeController</servlet-name>
    <url-pattern>/PesquisaFilmeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionaLocacaoController</display-name>
    <servlet-name>AdicionaLocacaoController</servlet-name>
    <servlet-class>controller.AdicionaLocacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionaLocacaoController</servlet-name>
    <url-pattern>/AdicionaLocacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioLocacao</display-name>
    <servlet-name>FormularioLocacao</servlet-name>
    <servlet-class>controller.FormularioLocacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioLocacao</servlet-name>
    <url-pattern>/FormularioLocacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitarLocacaoController</display-name>
    <servlet-name>SolicitarLocacaoController</servlet-name>
    <servlet-class>controller.SolicitarLocacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitarLocacaoController</servlet-name>
    <url-pattern>/SolicitarLocacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitarRetornoController</display-name>
    <servlet-name>SolicitarRetornoController</servlet-name>
    <servlet-class>controller.SolicitarRetornoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitarRetornoController</servlet-name>
    <url-pattern>/SolicitarRetornoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroCategoriaController</display-name>
    <servlet-name>CadastroCategoriaController</servlet-name>
    <servlet-class>controller.CadastroCategoriaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCategoriaController</servlet-name>
    <url-pattern>/CadastroCategoriaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroGenerosController</display-name>
    <servlet-name>CadastroGenerosController</servlet-name>
    <servlet-class>controller.CadastroGenerosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroGenerosController</servlet-name>
    <url-pattern>/CadastroGenerosController</url-pattern>
  </servlet-mapping>
</web-app>